@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
}

body {
    font-size: 100%;
    background: linear-gradient(to bottom, #4d788a, #203A43, #0F2027);
}

.main-content {
    height: 98vh;
    display: flex;
    font-size: 19px;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 14px;
    align-items: center;
    gap: 5px;
}

.main-content #title {
    color: #e2e2e2;
    font-family: "DM Sans";
    padding-bottom: 2px;
}

form {
    border-top: 0.2px solid #e2e2e277;
    border-radius: 1px;
}

#form-label {
    background-color: #e2e2e2;
    padding: 30px 50px;
    border-radius: 23px;
    box-shadow:  1px 2px 17px #00000073;
    margin-top: 16px;
    font-family: "Outfit";
}

.main-content .input {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 12px;
    padding: 2px;
    border: 0.2px solid #0F2027;
    background-color: #e2e2e2;
}

::placeholder {
    color: rgba(0, 0, 0, 0.404);
}

.main-content #button {
    display: flex;
    cursor: pointer;
    font-family: "DM Sans";
    background-color: #e2e2e200;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding: 12px 50px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow:  1px 6px 7px #0808082a;;
    border: solid 0.2px black;
}

.main-content #button:hover {
    background-color: #d3d3d39d;
}
